apiVersion: apps/v1
kind: Deployment
metadata:
  name: application
spec:
  replicas: 1
  selector:
    matchLabels:
      app: application
  template:
    metadata:
      labels:
        app: application
    spec:
      containers:
      - name: container
        image: visalmk/brijin-image:latest
        ports:
        - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: application-service-nodeport
spec:
  selector:
    app: application
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer
