name: Deploy Docker Application to EKS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-1

      - name: Build and Push Docker Image
        run: |
          COMMIT_ID=$(git rev-parse --short HEAD)  # Get the short commit ID
          docker build -t docker-image:${COMMIT_ID} .
          docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          docker tag docker-image:${COMMIT_ID} visalmk/docker-image:${COMMIT_ID}
          docker push visalmk/docker-image:${COMMIT_ID}
          
      - name: Update Deployment YAML with Commit ID
        run: |
          sed -i "s|{{COMMIT_ID_PLACEHOLDER}}|${COMMIT_ID}|g" application.yaml

      - name: Configure Kubernetes Context
        run: |
          aws eks --region us-west-1 update-kubeconfig --name visal-cluster

      - name: Deploy to EKS
        run: kubectl delete -f application.yaml
